.car0 {
	
	height: 375px;
	padding: 20px;
	display: block;
	float: left;
	border: 1px solid royalblue; 
	background-color: silver;
}
.car1 {
	
	height: 375px;
	padding: 20px;
	display: block;
	float: left;
	border: 1px solid teal;
	background-color: pink; 
}

.car2 {
	
	height: 375px;
	padding: 20px;
	display: block;
	float: left;
	border: 1px solid limegreen; 
	background-color: magenta;
}

.car3 {

	height: 375px;
	padding: 20px;
	display: block;
	float: left;
	border: 1px solid crimson; 
	background-color: gold;
}


.Cyan {
	background-color: cyan;
	border-width: 10px;
}

.Yellow {
	background-color: yellow;
	border-width: 10px;
}

.Khaki {
	background-color: khaki;
	border-width: 10px;
}

.Salmon {
	background-color: salmon;
	border-width: 10px;
}

